/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
body {
    background: #432d3e;
    font-family: 'Quattrocento Sans', sans-serif;
}
p {
    text-align: justify;
}
hr {
    border: none;
    border-top: 1px dashed rgba(0, 0, 0, .2);
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #b620e8;
}
a:hover {
    color: #d000ff;
}
section {
    display: none;
    min-height: 410px;
}
section.current {
    display: block;
}
#octocorner {
    background: url("img/octocorner.png") no-repeat bottom right;
    height: 280px;
    width: 420px;
    position: absolute;
    bottom: 0;
    right: 0;
}
h1 {
    display: block;
    margin: 0;
    font-size: 2em;
}
h1:before, h1:after {
    content: '';
    width: 100%;
    height: 0;
    position: relative;
    top: -3px;
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
    border-top: 1px dashed rgba(255, 255, 255, .5);
    display: block;
}
h1:after {
    top: 4px;
}
header .extra-shadow {
    background: rgba(0, 0, 0, .1);
    display: block;
    height: 23px;
    position: absolute;
    bottom: -23px;
    width: 550px;
    margin: 0 25px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px;
}
/* - - - - - TABS - - - - - */
.tabs {
    list-style: none;
    position: absolute;
    left: -72px;
    top: 120px;
    width: 50px;
    z-index: 100;
}
.tabs li {
    font-family: 'Coming Soon', cursive;
    line-height: 14px;
    font-size: 1em;
    padding: 10px;
    text-align: right;
    display: inline-block;
    float: right;
    margin-right: 5px;
    margin-bottom: -7px;
    position: relative;
    z-index: 0;
    border-right: none;
    cursor: pointer;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) -1px 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) -1px 0 1px;
    box-shadow: rgba(0, 0, 0, 0.1) -1px 0 1px;
}
.tabs li:hover {
    padding-right: 11px;
}
.tabs li:nth-child(odd) {
    border: 1px solid #bfd255;
    background: #bfd255;
    background: -moz-linear-gradient(top, #bfd255 0%, #99c42d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfd255), color-stop(100%, #99c42d));
    background: -webkit-linear-gradient(top, #bfd255 0%, #99c42d 100%);
    background: -o-linear-gradient(top, #bfd255 0%, #99c42d 100%);
    background: -ms-linear-gradient(top, #bfd255 0%, #99c42d 100%);
    background: linear-gradient(to bottom, #bfd255 0%, #99c42d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#99c42d', GradientType=0);
}
.tabs li:nth-child(even) {
    border: 1px solid #d1cc55;
    background: #d1cc55;
    background: -moz-linear-gradient(top, #d1cc55 0%, #dbd534 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d1cc55), color-stop(100%, #dbd534));
    background: -webkit-linear-gradient(top, #d1cc55 0%, #dbd534 100%);
    background: -o-linear-gradient(top, #d1cc55 0%, #dbd534 100%);
    background: -ms-linear-gradient(top, #d1cc55 0%, #dbd534 100%);
    background: linear-gradient(to bottom, #d1cc55 0%, #dbd534 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#d1cc55', endColorstr='#dbd534', GradientType=0);
}
.tabs li.current {
    background: url('img/paper.jpg') #f2f1e3 !important;
    padding: 10px 15px;
    border: 1px solid #FFF;
    border-right: none;
    margin-right: 0;
    z-index: 1;
}
/* - - - - - H2 BRUSH STROKE - - - - - */
h2 {
    font-size: 1.6em;
    vertical-align: top;
    border-top: 1px dashed rgba(0, 0, 0, .2);
    height: 37px;
    position: relative;
}
h2:before {
    content: url('img/highlight.png');
    position: absolute;
    display: block;
    margin-top: -10px;
    left: -15px;
    -webkit-animation: brush 1s;
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: reverse;
    -webkit-mask-size: 295px 50px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-image: url('img/strokemask.png');
    /* Mask animation unsupported by FF, and masks only supported in SVG format. */
}
@-webkit-keyframes brush {
    0% {
        -webkit-mask-position: 0 0;
    }
    100% {
        -webkit-mask-position: 295px 0;
    }
}
/* - - - - - NOTEPAD - - - - - */
.leather {
    background: url('img/leather.jpg') #6b3a0d;
    width: 520px;
    padding: 5px;
    margin: -5px auto 0;
    border-radius: 5px;
    position: relative;
    z-index: 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px, rgba(0, 0, 0, 0.3) -1px -1px 1px inset, rgba(255, 255, 255, 0.6) 1px 1px 2px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px, rgba(0, 0, 0, 0.3) -1px -1px 1px inset, rgba(255, 255, 255, 0.6) 1px 1px 2px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px, rgba(0, 0, 0, 0.3) -1px -1px 1px inset, rgba(255, 255, 255, 0.2) 1px 1px 2px inset;
}
.leather-stitch {
    border: 1px dashed hsla(44, 84%, 36%, .8);
    padding: 7px;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 1px, rgba(0, 0, 0, 0.2) -1px -1px 1px, rgba(0, 0, 0, 0.3) -1px -1px 1px inset, rgba(255, 255, 255, 0.2) 1px 1px 2px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 1px, rgba(0, 0, 0, 0.2) -1px -1px 1px, rgba(0, 0, 0, 0.3) -1px -1px 1px inset, rgba(255, 255, 255, 0.2) 1px 1px 2px inset;
    box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 1px, rgba(0, 0, 0, 0.2) -1px -1px 1px, rgba(0, 0, 0, 0.3) -1px -1px 1px inset, rgba(255, 255, 255, 0.2) 1px 1px 2px inset;
}
.rings {
    margin: 5px 0 -28px 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 10;
}
.rings li {
    background: #442b4f;
    display: block;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 15px;
    margin: -1px 66px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) 1px 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px inset, rgba(255, 255, 255, 0.6) 1px 1px 1px;
}
.rings li:before {
    content: '';
    display: block;
    border-radius: 15px;
    z-index: -1;
    position: relative;
    width: 7px;
    height: 35px;
    position: absolute;
    z-index: 10;
    margin: -25px 0 0 4px;
    background: #b5bdc8;
    background: -moz-linear-gradient(-45deg, #b5bdc8 0%, #828c95 36%, #b5bdc8 38%, #28343b 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #b5bdc8), color-stop(36%, #828c95), color-stop(38%, #b5bdc8), color-stop(100%, #28343b));
    background: -webkit-linear-gradient(-45deg, #b5bdc8 0%, #828c95 36%, #b5bdc8 38%, #28343b 100%);
    background: -o-linear-gradient(-45deg, #b5bdc8 0%, #828c95 36%, #b5bdc8 38%, #28343b 100%);
    background: -ms-linear-gradient(-45deg, #b5bdc8 0%, #828c95 36%, #b5bdc8 38%, #28343b 100%);
    background: linear-gradient(135deg, #b5bdc8 0%, #828c95 36%, #b5bdc8 38%, #28343b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b', GradientType=1);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 0 rgba(0, 0, 0, 0.3) inset, 3px 1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 0 rgba(0, 0, 0, 0.3) inset, 3px 1px 0 rgba(255, 255, 255, 0.6) inset;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4), -1px -1px 0 rgba(0, 0, 0, 0.3) inset, 3px 1px 0 rgba(255, 255, 255, 0.6) inset;
}
article {
    background: url('img/paper.jpg') #f2f1e3;
    display: block;
    position: relative;
    padding: 70px 10px 5px;
    color: #083354;
    border: 1px solid #FFF;
    width: 420px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}
/* - - - - - EXAMPLES - - - - - */
pre {
    width: 92%;
    overflow: auto;
    margin: -10px 0 10px;
    padding: 10px 8px 10px 12px;
    color: #3f3b36;
    border: 1px solid #e9e7e0;
    border-left: 13px solid #bce5be;
    font: lighter 12px/20px Monaco, 'MonacoRegular', monospace;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: url("http://www.megandalbey.com/codepen/css-selectors/precode.gif") repeat scroll 0 -9px;
}
pre:before {
    content: 'CSS';
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    margin: 0 0 0 -28px;
    color: #7bb27d;
    font-size: 9px
}
xmp {
    width: 92%;
    overflow: auto;
    margin: 0 0 10px;
    padding: 10px 8px 10px 12px;
    color: #3f3b36;
    border: 1px solid #e9e7e0;
    border-left: 13px solid #d0e4f7;
    font: lighter 12px/20px Monaco, 'MonacoRegular', monospace;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: url("http://www.megandalbey.com/codepen/css-selectors/precode.gif") repeat scroll 0 -9px;
}
xmp:before {
    content: 'HTML';
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    margin: 3px 0 0 -31px;
    color: #7395b5;
    font-size: 9px
}
.example {
    width: 92%;
    margin: 0 0 10px;
    padding: 6px 8px 6px 12px;
    color: #3f3b36;
    border: 1px solid #e9e7e0;
    border-left: 13px solid #e1c9ea;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #FFF;
    min-height: 45px;
}
.example:before {
    content: 'EXAMPLE';
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    margin: 18px 0 0 -38px;
    color: #a077af;
    font-size: 9px
}
#e-1 * {
    border: 1px solid #00F;
}
#e-2 #red {
    color: #F00;
}
#e-3 .blue {
    color: #00F;
}
#e-4 a {
    font-weight: bold;
}
#e-5 p span {
    font-weight: bold;
}
#e-6 div>ul>li {
    border: 1px solid #F00;
}
#e-7 h4 + p {
    color: #F00;
}
#e-8 h4 ~ p {
    color: #F00;
}
#e-9 a[title] {
    color: #990;
}
#e-10 input[type=radio]:checked+span {
    border: 1px solid #F00;
}
/* - - - - - PEN - - - - - */
#pen {
    position: absolute;
    width: 42px;
    right: 12px;
    top: 80px;
    height: 476px;
    background: rgba(61, 33, 8, .2);
    padding: 20px 7px 5px;
    z-index: 0;
    border-radius: 30px;
    -webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, .1), 1px 1px 2px rgba(0, 0, 0, .3) inset, 5px 5px 30px rgba(61, 33, 8, .8) inset;
    -moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, .1), 1px 1px 2px rgba(0, 0, 0, .3) inset, 5px 5px 30px rgba(61, 33, 8, .8) inset;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, .1), 1px 1px 2px rgba(0, 0, 0, .3) inset, 5px 5px 30px rgba(61, 33, 8, .8) inset;
}
#pen:hover #metal {
    -webkit-animation: glow2 2s infinite;
    -webkit-animation-direction: alternate;
}
#pen:hover #hold, #pen:hover #cart, #pen:hover #cart2, #pen:hover #cart3 {
    -webkit-animation: glow 2s infinite;
    -webkit-animation-direction: alternate;
}
#pen:hover #color {
    -webkit-animation: glow3 2s infinite;
    -webkit-animation-direction: alternate;
}
@-webkit-keyframes glow {
    0% {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .4), 0 0 0 rgba(250, 255, 0, 0), 0 0 0 rgba(250, 255, 0, 0) inset;
    }
    100% {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .4), 0 0 10px rgba(250, 255, 0, .6), 0 0 20px rgba(250, 255, 0, .5) inset;
    }
}
@-webkit-keyframes glow2 {
    0% {
        box-shadow: 3px 1px 1px 1px #5b4863 inset, 1px 1px 4px rgba(0, 0, 0, .4), 0 0 0 rgba(250, 255, 0, 0);
    }
    100% {
        box-shadow: 3px 1px 1px 1px #5b4863 inset, 1px 1px 4px rgba(0, 0, 0, .4), 0 0 20px rgba(250, 255, 0, .6);
    }
}
@-webkit-keyframes glow3 {
    0% {
        box-shadow: 0 0 0 rgba(250, 255, 0, 0);
        background: rgba(250, 255, 0, .6);
    }
    100% {
        box-shadow: 0 0 20px rgba(250, 255, 0, .6);
        background: rgba(250, 255, 0, 1);
    }
}
#cap {
    width: 42px;
    height: 121px;
    border-radius: 20px 20px 5px 5px;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, .2) inset, 3px 3px 1px 5px #5b4863 inset, 1px 1px 4px rgba(0, 0, 0, .4);
    background: #1a141c;
    background: -moz-linear-gradient(left, #1a141c 0%, #9f7ca8 54%, #211727 75%, #211727 99%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1a141c), color-stop(54%, #9f7ca8), color-stop(75%, #211727), color-stop(99%, #211727));
    background: -webkit-linear-gradient(left, #1a141c 0%, #9f7ca8 54%, #211727 75%, #211727 99%);
    background: -o-linear-gradient(left, #1a141c 0%, #9f7ca8 54%, #211727 75%, #211727 99%);
    background: -ms-linear-gradient(left, #1a141c 0%, #9f7ca8 54%, #211727 75%, #211727 99%);
    background: linear-gradient(to right, #1a141c 0%, #9f7ca8 54%, #211727 75%, #211727 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a141c', endColorstr='#211727', GradientType=1);
}
#cap1, #cap3, #cap4, #cap5 {
    width: 46px;
    height: 6px;
    border-radius: 5px;
    margin: 20px -2px -2px;
    position: absolute;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, .2) inset, 3px 1px 1px 1px #5b4863 inset;
    background: #1a141c;
    background: -moz-linear-gradient(left, #1a141c 0%, #654e6a 42%, #ffffff 50%, #ffffff 66%, #654e6a 75%, #211727 79%, #211727 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1a141c), color-stop(42%, #654e6a), color-stop(50%, #ffffff), color-stop(66%, #ffffff), color-stop(75%, #654e6a), color-stop(79%, #211727), color-stop(100%, #211727));
    background: -webkit-linear-gradient(left, #1a141c 0%, #654e6a 42%, #ffffff 50%, #ffffff 66%, #654e6a 75%, #211727 79%, #211727 100%);
    background: -o-linear-gradient(left, #1a141c 0%, #654e6a 42%, #ffffff 50%, #ffffff 66%, #654e6a 75%, #211727 79%, #211727 100%);
    background: -ms-linear-gradient(left, #1a141c 0%, #654e6a 42%, #ffffff 50%, #ffffff 66%, #654e6a 75%, #211727 79%, #211727 100%);
    background: linear-gradient(to right, #1a141c 0%, #654e6a 42%, #ffffff 50%, #ffffff 66%, #654e6a 75%, #211727 79%, #211727 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a141c', endColorstr='#211727', GradientType=1);
}
#cap3 {
    margin-top: 102px
}
#cap4 {
    margin-top: 109px
}
#cap5 {
    margin-top: 116px
}
#cap6 {
    height: 90px;
    width: 10px;
    position: absolute;
    right: 3px;
    margin: 26px 0 0 0;
    border-radius: 5px 50px 50px 5px;
    box-shadow: -1px 0 1px 1px #1a141c inset, -2px 1px 3px 0 #FFF inset, -6px 3px 0 1px #5b4863 inset, -8px 3px 1px 1px #1a141c inset;
}
#cap2 {
    width: 25px;
    height: 20px;
    border-radius: 20px 20px 0 0;
    margin: -14px 0 0 9px;
    position: absolute;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, .2) inset, 2px 2px 1px 4px #5b4863 inset;
    background: #1a141c;
    background: -moz-linear-gradient(left, #1a141c 0%, #654e6a 54%, #211727 70%, #211727 99%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1a141c), color-stop(54%, #654e6a), color-stop(70%, #211727), color-stop(99%, #211727));
    background: -webkit-linear-gradient(left, #1a141c 0%, #654e6a 54%, #211727 70%, #211727 99%);
    background: -o-linear-gradient(left, #1a141c 0%, #654e6a 54%, #211727 70%, #211727 99%);
    background: -ms-linear-gradient(left, #1a141c 0%, #654e6a 54%, #211727 70%, #211727 99%);
    background: linear-gradient(to right, #1a141c 0%, #654e6a 54%, #211727 70%, #211727 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a141c', endColorstr='#211727', GradientType=1);
}
#hold {
    height: 282px;
    width: 40px;
    margin: 0 0 0 1px;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(33%, rgba(255, 255, 255, 0.5)), color-stop(37%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.3)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.3) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.3) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.3) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#4dffffff', GradientType=1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
}
#label {
    position: absolute;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    margin: 100px 0 0 -35px;
    background: rgba(255, 255, 255, .4);
    padding: 3px;
    font-size: 14px;
    border-radius: 7px;
    color: #654e6a;
    font-weight: bold;
}
#band, #band1, #band2, #band3 {
    width: 44px;
    height: 6px;
    border-radius: 5px;
    margin: 180px -2px -1px;
    position: absolute;
    box-shadow: 3px 1px 1px 1px #5b4863 inset, 1px 1px 4px rgba(0, 0, 0, .4);
    background: rgb(26, 20, 28);
    background: -moz-linear-gradient(left, rgba(26, 20, 28, 1) 0%, rgba(104, 104, 104, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 66%, rgba(104, 104, 104, 1) 78%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(26, 20, 28, 1)), color-stop(42%, rgba(104, 104, 104, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(66%, rgba(255, 255, 255, 1)), color-stop(78%, rgba(104, 104, 104, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(left, rgba(26, 20, 28, 1) 0%, rgba(104, 104, 104, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 66%, rgba(104, 104, 104, 1) 78%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(left, rgba(26, 20, 28, 1) 0%, rgba(104, 104, 104, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 66%, rgba(104, 104, 104, 1) 78%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(left, rgba(26, 20, 28, 1) 0%, rgba(104, 104, 104, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 66%, rgba(104, 104, 104, 1) 78%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to right, rgba(26, 20, 28, 1) 0%, rgba(104, 104, 104, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 66%, rgba(104, 104, 104, 1) 78%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a141c', endColorstr='#000000', GradientType=1);
}
#band1 {
    margin-top: 280px;
}
#band2 {
    margin-top: 305px;
    margin-left: 1px;
    width: 38px;
}
#band3 {
    margin-top: 325px;
    margin-left: 6px;
    width: 28px;
}
#cart, #cart2, #cart3 {
    height: 300px;
    width: 30px;
    margin: 20px 0 0 6px;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 130px;
    z-index: -1;
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(33%, rgba(255, 255, 255, 0.5)), color-stop(37%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.3)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.3) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.3) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.5) 33%, rgba(255, 255, 255, 0.1) 37%, rgba(255, 255, 255, 0.3) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#4dffffff', GradientType=1);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
}
#cart2 {
    border-radius: 0;
    margin: 170px 0 0 5px;
    height: 20px;
    width: 20px;
}
#cart3 {
    border-radius: 0 0 5px 5px;
    margin: 192px 0 0 9px;
    height: 11px;
    width: 13px;
}
#color {
    height: 180px;
    width: 28px;
    margin: 0 0 0 7px;
    border-radius: 20px 20px 5px 5px;
    position: absolute;
    top: 160px;
    z-index: -3;
    background: rgba(250, 255, 0, .6);
}
#metal, #ink {
    height: 150px;
    width: 30px;
    margin: 0 0 0 6px;
    border-radius: 5px;
    position: absolute;
    top: 180px;
    z-index: -2;
    box-shadow: 3px 1px 1px 1px #5b4863 inset, 1px 1px 4px rgba(0, 0, 0, .4);
    background: rgb(26, 20, 28);
    background: -moz-linear-gradient(left, rgba(26, 20, 28, 1) 0%, rgba(104, 104, 104, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 66%, rgba(104, 104, 104, 1) 78%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(26, 20, 28, 1)), color-stop(42%, rgba(104, 104, 104, 1)), color-stop(50%, rgba(255, 255, 255, 1)), color-stop(66%, rgba(255, 255, 255, 1)), color-stop(78%, rgba(104, 104, 104, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(left, rgba(26, 20, 28, 1) 0%, rgba(104, 104, 104, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 66%, rgba(104, 104, 104, 1) 78%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(left, rgba(26, 20, 28, 1) 0%, rgba(104, 104, 104, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 66%, rgba(104, 104, 104, 1) 78%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(left, rgba(26, 20, 28, 1) 0%, rgba(104, 104, 104, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 66%, rgba(104, 104, 104, 1) 78%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to right, rgba(26, 20, 28, 1) 0%, rgba(104, 104, 104, 1) 42%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 66%, rgba(104, 104, 104, 1) 78%, rgba(0, 0, 0, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a141c', endColorstr='#000000', GradientType=1);
}
#ink {
    width: 7px;
    height: 290px;
    margin: 20px 0 0 18px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    z-index: -4;
}
#ink:after {
    content: '';
    display: block;
    border-radius: 5px;
    height: 5px;
    width: 5px;
    margin: 290px 0 0 1px;
    box-shadow: -1px -1px 2px #000 inset, 1px 1px 2px #000 inset, 1px 1px 4px rgba(0, 0, 0, .4);
    background: #FFF;
}
/***** Form as airmail envelope *****/
.contact-form.envelope {
    padding: 15px;
    margin: 0 auto;
    position: relative;
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(5%, transparent), color-stop(5%, #ed5737), color-stop(15%, #ed5737), color-stop(15%, transparent), color-stop(25%, transparent), color-stop(25%, #2f57b7), color-stop(35%, #2f57b7), color-stop(35%, transparent), color-stop(45%, transparent), color-stop(45%, #ed5737), color-stop(55%, #ed5737), color-stop(55%, transparent), color-stop(65%, transparent), color-stop(65%, #2f57b7), color-stop(75%, #2f57b7), color-stop(75%, transparent), color-stop(85%, transparent), color-stop(85%, #ed5737), color-stop(95%, #ed5737), color-stop(95%, transparent));
    background-image: -webkit-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
    background-image: -moz-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
    background-image: -ms-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
    background-image: -o-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
    background-image: repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
    -pie-background: linear-gradient(135deg, #f5f5f5 5%, #ed5737 5%, #ed5737 15%, #f5f5f5 15%, #f5f5f5 25%, #2f57b7 25%, #2f57b7 35%, #f5f5f5 35%, #f5f5f5 45%, #ed5737 45%, #ed5737 55%, #f5f5f5 55%, #f5f5f5 65%, #2f57b7 65%, #2f57b7 75%, #f5f5f5 75%, #f5f5f5 85%, #ed5737 85%, #ed5737 95%, #f5f5f5 95%);
    -moz-box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.7);
    box-shadow: 0 12px 5px -12px rgba(0, 0, 0, 0.7);
    behavior: url(PIE.htc);
}
.ie .contact-form.envelope {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
.contact-form.envelope:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: 10px;
    bottom: 15px;
    width: 350px;
    height: 10px;
    -moz-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0 15px 15px rgba(0, 0, 0, 0.9);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.9);
    -moz-transform: rotate(4deg) skew(4deg);
    -webkit-transform: rotate(4deg) skew(4deg);
    -o-transform: rotate(4deg) skew(4deg);
    -ms-transform: rotate(4deg) skew(4deg);
    transform: rotate(4deg) skew(4deg);
}
.envelope.nolabel {
    margin: 40px auto;
}
.envelope .form-inner {
    overflow: hidden;
    padding: 40px 20px;
    background-color: #f5f5f5;
}
.envelope .column:first-of-type {
    float: left;
    position: relative;
}
.envelope .column:last-of-type {
    float: right;
    margin: 0 0 20px 40px;
}
.envelope .form-input {
    width: 100%;
    border: 5px solid #ebebeb;
    position: relative;
}
.envelope textarea.form-input {
    width: 100%;
    position: relative;
    margin-bottom: 0;
}
.envelope .form-btn {
    clear: both;
    float: right;
}
@font-face {
    font-family: 'PDOSVGA';
    src: url('/font/perfect_dos_vga_437-webfont.eot');
    src: url('/font/perfect_dos_vga_437-webfont.eot?#iefix') format('embedded-opentype'), url('/font/perfect_dos_vga_437-webfont.woff') format('woff'), url('/font/perfect_dos_vga_437-webfont.ttf') format('truetype'), url('/font/perfect_dos_vga_437-webfont.svg#webfont') format('svg');
}
body .error-page {
    font-size: 16px;
    background-color: #0000aa;
    color: #FFFFFF;
    font-smooth: never;
    font-family: monospace;
}
.error-page .wrapper {
    position: absolute;
    top: 35%;
    width: 100%;
    margin-top: -1.5em;
}
.error-page .container {
    text-align: center;
    margin: 0 auto;
    width: 640px;
}
.error-page .title {
    display: inline-block;
    font-size: 16px;
    color: #0000aa;
    background-color: #aaaaaa;
    font-weight: normal;
    padding: 0 10px;
}
.error-page p {
    padding: 25px 0;
    text-align: left;
}
.error-page .center {
    text-align: center;
}
.error-page ul {
    list-style: none;
    text-align: left;
    list-style-position: inside;
    margin-bottom: 25px;
    width: 580px;
    margin-left: 25px;
}
.error-page ul li {
    position: relative;
}
.error-page ul li:before {
    position: absolute;
    left: -25px;
    content: "* ";
}
.error-page .blink {
    -webkit-animation: blink steps(1, end) 1s infinite normal forwards;
    -moz-animation: blink steps(1, end) 1s infinite normal forwards;
    -o-animation: blink steps(1, end) 1s infinite normal forwards;
    animation: blink steps(1, end) 1s infinite normal forwards;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
